<div>
  <footer class="">
  <img src="../../../assets/img/waveF1.jpg" class="background" alt="">
<div class="container-fluid pb-2">
<div class="inner-container d-flex align-items-center justify-content-between px-5 ">
  <div class="policies" >
<div class="mb-lg-3 policies">
  <span class="ms-5">سياسة الخصوصية</span>
  <span >الشروط و الاستخدام</span>
</div>
<div class="no-wrap">
  <span class="ms-5 "> جميع الحقوق المحفوظة2023   </span>
  <span>
    <a href=""><img class="ms-2" src="../../../assets/svg/ic_facebook.svg" alt=""></a>
    <a href=""><img src="../../../assets/svg/ic_instagram.svg" alt=""></a>
</span>
</div>
  </div>
  <div >
    <img class="logo" src="../../../assets/img/Logo & Profile.png" alt="">
  </div>
</div>
</div>
</footer>
</div>